* {
  box-sizing: border-box; }

hr {
  margin: 20px 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5; }

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.far {
  margin-right: 5px; }

.header {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 15;
  left: 0;
  right: 0; }
  .header-title {
    font-size: 90px;
    color: #fff;
    text-transform: uppercase; }
  .header-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1130px;
  margin: 0 auto; }
  .nav-menu__link {
    display: inline-block; }
  .nav-menu__btn {
    color: #BDC3C7;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 30px 20px;
    position: relative;
    display: block;
    transition: all .5s;
    overflow: hidden; }
  .nav-menu__btn:hover {
    color: #fff;
    font-weight: 800; }
  .nav-menu__btn::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: #fff;
    content: '';
    transform: rotate(-45deg);
    margin-bottom: -5px;
    opacity: 0; }
  .nav-menu__btn:hover::after {
    opacity: 1; }
  .nav-menu.active {
    display: flex; }

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  position: absolute;
  font-size: 0;
  color: transparent;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  top: 24px;
  right: 24px;
  z-index: 1; }
  .nav-toggle:focus {
    outline: 0; }
  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear; }
  .nav-toggle.active .nav-toggle__item {
    background: none; }
  .nav-toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0); }
  .nav-toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0); }
  .nav-toggle__item::after, .nav-toggle__item::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
    z-index: 1;
    left: 0;
    transition: transform .2s linear; }
  .nav-toggle__item::after {
    bottom: -8px; }
  .nav-toggle__item::before {
    top: -8px; }

.slider-top {
  position: relative; }

.slider-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4; }

.slider__item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.main__title {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateX(50%);
  right: 50%;
  z-index: 5;
  max-width: 100%;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff; }
  .main__title span {
    font-size: 30px;
    padding: 10px 20px; }
  .main__title img {
    width: 100%; }

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  height: 50px;
  text-align: center;
  transition: all .5s;
  visibility: visible; }

.hide {
  visibility: hidden;
  transition: all .5s; }

.contacts-bar {
  color: #Fff;
  display: flex;
  justify-content: space-between;
  z-index: 15;
  margin-top: -50px;
  position: fixed;
  width: 100%;
  font-size: 13px; }
  .contacts-bar__address {
    width: 50%;
    padding: 20px 40px;
    text-align: end;
    background-color: #000; }
  .contacts-bar__other {
    width: 50%;
    padding: 20px 40px;
    background-color: #202020;
    text-align: start; }
  .contacts-bar__other a {
    color: #Fff;
    text-decoration: none; }
  .contacts-bar__other i {
    margin: 0 5px; }

.title {
  margin-bottom: 0;
  padding: 80px 20px;
  font-size: 34px;
  letter-spacing: 2px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900; }

.diamond {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 120px;
  margin-bottom: 80px;
  background-image: url(../images/diamond-light.png);
  border-bottom: 1px solid rgba(39, 36, 36, 0.2); }

.eagle {
  color: #fff;
  background-image: url(../images/pens-dark.png);
  background-repeat: no-repeat;
  background-position: center; }

.corona-light {
  background-image: url(../images/corona-light.png);
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #f8f0f0;
  margin-bottom: 80px; }

.bg-black {
  background-color: #000;
  color: #fff; }

.bg-title {
  min-height: 120px; }

.black-style {
  color: #fff;
  border-bottom: 1px solid rgba(248, 240, 240, 0.2);
  margin-bottom: 80px; }

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px; }
  .works-item {
    width: 380px;
    height: 380px;
    margin-bottom: 20px;
    position: relative; }
  .works-img {
    background-color: #000; }
  .works-item:hover .works-img img {
    filter: grayscale(100%);
    transition: .5s;
    opacity: .8; }
  .works-item:hover .works-zoom {
    opacity: 1; }
  .works-zoom {
    background-color: #000;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; }
  .works img {
    width: 380px;
    height: 380px;
    display: block; }

.services {
  position: static;
  background-color: #444444;
  background-image: url(../images/bg-services.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden; }
  .services-wrapper {
    background: rgba(0, 0, 0, 0.75); }
  .services-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px; }
  .services-item {
    width: 350px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 20px; }
  .services-item__title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 800; }
  .services-item__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    color: #ECECEC; }

.about {
  background: rgba(0, 0, 0, 0.9); }
  .about-wrapper {
    background-color: #242121; }
  .about-inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0; }
  .about-content {
    width: 50%;
    color: #ECECEC;
    padding: 0 20px;
    font-family: 'Roboto Condensed', sans-serif; }
  .about-content__title {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 20px 0; }
  .about-content__text {
    margin: 0 0 20px 0;
    line-height: 1.2;
    font-size: 13px;
    letter-spacing: .5px; }
  .about-images {
    width: 50%;
    padding: 0 20px; }
  .about-images__img {
    max-width: 100%; }
  .about-images__subtitle {
    margin: 20px auto 0;
    text-align: center;
    color: #ECECEC;
    position: relative;
    padding: 20px 0 0 0;
    max-width: 80px;
    font-size: 15px; }
  .about-images__subtitle::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ECECEC;
    position: absolute;
    top: 0;
    left: 0; }

.tab {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 800;
  background: #000;
  margin: 0 5px 0 0; }
  .tab-item {
    padding: 10px 10px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px; }
  .tab-wrapper .active {
    color: #000;
    background: #868686; }

.tabs {
  margin: 0 0 20px 0;
  display: block; }
  .tabs i {
    margin-right: 5px; }

.appointment {
  background-color: #444444;
  background-image: url(../images/bg-app.jpg);
  background-size: cover;
  color: #Fff;
  text-align: center;
  overflow: hidden; }
  .appointment-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 80px 0; }
  .appointment-cta__info {
    margin-bottom: 40px;
    color: #ECECEC;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px; }
  .appointment-title {
    padding: 0 0 0 0;
    margin-bottom: 20px;
    color: #Fff;
    text-transform: initial;
    min-height: 100%; }
  .appointment-btn {
    padding: 15px 20px;
    display: inline-block;
    background-color: #BDC3C7;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: all .1s linear; }
  .appointment-btn:hover {
    color: #Fff;
    background-color: #161616; }

.artist {
  font-family: 'Roboto Condensed', sans-serif; }
  .artist-wrapper {
    text-align: center; }
  .artist-photo {
    max-width: 200px;
    width: 100%;
    height: 170px;
    border-radius: 20px;
    padding: 0 1    0px;
    margin: 0 auto 20px;
    display: block; }
  .artist-name {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 20px 0; }
  .artist-style {
    font-size: 14px;
    font-weight: 800;
    margin: 0 0 20px 0; }
  .artist-discr {
    width: 300px;
    margin: 0 auto 20px;
    line-height: 1.5;
    font-weight: 400; }
  .artist-social {
    display: flex;
    width: 120px;
    margin: 0 auto 80px;
    justify-content: space-between; }
  .artist-social__btn i {
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #868686;
    margin: 5px;
    transition: all .2s linear; }
  .artist-social__btn:hover i {
    background-color: #352c2c; }

.footer {
  background-color: #000; }
  .footer-items {
    display: flex;
    justify-content: space-around;
    color: #fff; }
  .footer-item {
    width: 33%;
    padding: 80px 40px; }
  .footer-item__title {
    font-size: 24px;
    margin: 0 0 40px 0;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px 0;
    border-bottom: 1px solid rgba(248, 240, 240, 0.3);
    border-top: 1px solid rgba(248, 240, 240, 0.3); }
  .footer-item__logo {
    display: block;
    width: 50%;
    margin: 0 auto 20px; }
  .footer-item__discr {
    margin: 0 0 20px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.2; }
  .footer-item__day {
    margin: 0 0 10px; }
  .footer-item__hour {
    float: right;
    font-weight: 800; }
  .footer-item__address {
    margin: 0 0 20px; }
  .footer-item__subtitle {
    font-weight: 600;
    font-size: 18px; }
  .footer-item__subtitle a {
    text-decoration: none;
    color: #fff; }
  .footer-social {
    display: flex;
    width: 120px;
    justify-content: space-between; }
  .footer-social__btn i {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #868686;
    margin: 5px;
    transition: all .2s linear; }

.copyright {
  text-align: center;
  color: #Fff;
  padding: 15px 0;
  font-size: 12px; }
  .copyright a {
    color: #167713;
    font-weight: 800;
    text-decoration: none;
    margin-left: 10px; }

.instagram-wrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative; }

.instagram-text a {
  color: #fa4109f8;
  font-weight: 800;
  font-size: 40px;
  text-decoration: none;
  z-index: 5;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  transform: translateX(50%);
  width: 50%;
  top: 35%; }

.instagram-text span {
  text-transform: uppercase;
  font-weight: 400; }

.instagram-link {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  opacity: 0.6; }

.instagram-item {
  width: 150px;
  height: 150px; }

.instagram-img {
  width: 150px;
  height: 150px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: block; }
